spring:
  datasource:
    url: jdbc:h2:mem:librarytest
    driverClassName: org.h2.Driver
    username: test
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console
